@import "tailwindcss";

body {
  background-color: #09162e;
}
.slider {
  -webkit-appearance: none;
  height: 100%;
  background: transparent;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-position: center;
}
